.App {
  text-align: center;
}

.App-link {
  color: #3e94bd;
}

.app-frame {
  border: groove;
  padding: 1em;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 65px;
  background-image: linear-gradient(#d3ebf6, #bee5f7, #5ac4f5, #0384bf);
  width: 20%;
  min-width: 384px
}

.form-input {
  width: 100%;
  height: 30px
}

.form-button {
  background-color:darkgray
}
